:root {
  --primary-color: #089773;
  --primary-color-2: #f9bfb7;
  --secondary-color: #09090bcc;
  --spotlight-color: #e6f7f3;
  --border-color: #c7e4dd;
  --spotlight-color-2: #faeae7;
  --dark-bg-color: rgba(0,0,0,0.8);
  --dark-text-color: #fff;
  --fallback-a: #089773;
}
.dark body{
  color: var(--dark-text-color);
  background-color: var(--dark-bg-color);
}
body{
  background-color: #fcfcfc;
}
/* 设置滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  /* 滚动条的背景颜色 */
}

::-webkit-scrollbar-thumb {
  background: #dcdcdc;
  /* 滚动条的滑块颜色 */
  border-radius: 3px;
}

::selection{
  color: white;
  background-color: var(--primary-color)
}

.timeline-container > .timeline-item {
  position: relative;
  margin-left: 1rem;
  padding: 0.25rem 0;
}

.timeline-container > .timeline-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -1rem;
  height: 100%;
  background-color: var(--primary-color, oklch(var(--primary-color) / 1));
  height: 100%;
  width: 1px;
  bottom: -50%;
}

.timeline-container > .timeline-item:last-child::before {
  display: none;
}

.timeline-container > .timeline-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -1.16rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.pre-line{
  padding-left: .5rem;
  position: relative;
}
.pre-line::before{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 80%;
  transform: translateY(-50%);
  width: 2px;
  background-color: var(--primary-color);
}
